.md-menu-content:not(.md-select-menu) .md-menu-content-container .md-list {
  .md-list-item {

    /*&:not(:last-child) {
      padding: 5px;
    }*/

    .md-list-item-button {
      background-color: transparent;
      color: $gray-dark !important;
      width: 100%;

      /*&:hover {
        background-color: $brand-primary !important;
        @include shadow-big-color($brand-primary);
        color: #FFF !important;
      }*/

      .md-list-item-content {
        /*min-height: 38px;
        font-size: 13px;*/

        span {
          top: auto;
          left: auto;
          right: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
}
